@import 'https://fonts.googleapis.com/css?family=Open Sans';
*{
    font-family: 'Open Sans';
}
#page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px, auto) minmax(500px, auto) 50px;
    justify-content: center;
    grid-template-areas: 
        "nav"
        "cont"
        "footer";
    background-color: aqua;
    background-color: rgb(243, 239, 224);
}

#navBar{
    grid-area: nav;
    background-image: url('../photos/space.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    height: 700px;
    padding-top: 15px;
}
#sss{
    color: white;
    font-size: 3em;
    text-align: center;
}
#linkSection{
    margin-left: 50px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links:link{
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 1.3em;
    height: 100%;
}

.links:visited{
    color: rgb(230, 230, 230);
}

.links:hover{
    color: white;
}

.dropbtn {
    color: rgb(230, 230, 230);
    background-color: rgba(230, 230, 230, 0);
  font-size: 1em;
  cursor: pointer;
    border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 123, 255);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content button {
  color: rgb(230, 230, 230);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover{
    background-color: lightskyblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: white;
}

.dropdown-level2 {
  position: relative;
  display: inline-block;
}

.dropdown-content-level2 {
  display: none;
  position: absolute;
    left: 162.5px;
    top: 0px;
  background-color: rgb(0, 123, 255);
  min-width: 160px;
  z-index: 2;
}

.dropdown-level2:hover .dropdown-content-level2 {
  display: block;
}

.dropdown-level2:hover .dropbtn-level2 {
  color: black;
}
.dropbtn-level2 {
    width: 130%;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border-style: none;
    font-size: 1.01em;
}

.dropdown-level3 {
  position: relative;
  display: inline-block;
}

.dropdown-content-level3 {
  display: none;
  position: absolute;
    left: 160px;
    top: 0px;
  background-color: rgb(0, 123, 255);;
  min-width: 160px;
  z-index: 2;
}

.dropdown-level3:hover .dropdown-content-level3 {
  display: block;
}

.dropdown-level3:hover .dropbtn-level3 {
  color: black;
}
.dropbtn-level3 {
    width: 140%;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border-style: none;
    font-size: 1.03em;
}

.lll {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.lll:hover {background-color: lightskyblue}

.dropdown:hover .dropdown-content {
  display: block;
}
#content{
    grid-area: cont;
    background-color: rgb(243, 239, 224);
}

#postDiv{
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'first second third';
    grid-gap: 40px;
}
#first{
    grid-area: first;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(0, 123, 255);
}

#second{
    grid-area: second;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(0, 123, 255);
}

#third{
    grid-area: third;
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgb(0, 123, 255);
}
#title{
    text-align: center;
}

.lllink:link{
    text-decoration: none;
    color: black;
}
.lllink:visited{
    text-decoration: none;
    color: black;
}
.lllink:hover{
    text-decoration: underline;
}

#footer{
    grid-area: footer;
    background-color: lightskyblue;
    padding-top: 15px;
}

#fttext{
    text-align: center;
}

