@import 'https://fonts.googleapis.com/css?family=Open Sans';
*{
    font-family: 'Open Sans';
}
#page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px, auto) minmax(500px, auto) 50px;
    justify-content: center;
    grid-template-areas: 
        "nav"
        "cont"
        "footer";
    background-color: aqua;
    background-color: rgb(243, 239, 224);
    grid-row-gap: 20px;
}

#navBar{
    grid-area: nav;
    background-image: url('../../photos/logicgates.png');
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    height: 200px;
    padding-top: 15px;
}

#linkSection{
    margin-left: 50px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links:link{
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-size: 1.3em;
    height: 100%;
}

.links:visited{
    color: rgb(150, 150, 150);
}

.links:hover{
    color: white;
}

.dropbtn {
    color: rgb(150, 150, 150);
    background-color: rgba(150, 150, 150, 0);
  font-size: 1em;
  cursor: pointer;
    border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 123, 255);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content button {
  color: rgb(150, 150, 150);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover{
    background-color: lightskyblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: white;
}

.dropdown-level2 {
  position: relative;
  display: inline-block;
}

.dropdown-content-level2 {
  display: none;
  position: absolute;
    left: 162.5px;
    top: 0px;
  background-color: rgb(0, 123, 255);
  min-width: 160px;
  z-index: 2;
}

.dropdown-level2:hover .dropdown-content-level2 {
  display: block;
}

.dropdown-level2:hover .dropbtn-level2 {
  color: black;
}
.dropbtn-level2 {
    width: 130%;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border-style: none;
    font-size: 1.01em;
}

.dropdown-level3 {
  position: relative;
  display: inline-block;
}

.dropdown-content-level3 {
  display: none;
  position: absolute;
    left: 160px;
    top: 0px;
  background-color: rgb(0, 123, 255);;
  min-width: 160px;
  z-index: 2;
}

.dropdown-level3:hover .dropdown-content-level3 {
  display: block;
}

.dropdown-level3:hover .dropbtn-level3 {
  color: black;
}
.dropbtn-level3 {
    width: 160px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border-style: none;
    font-size: 1.03em;
}

.lll {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.lll:hover {background-color: lightskyblue}

.dropdown:hover .dropdown-content {
  display: block;
}
#content{
    grid-area: cont;
    margin: auto;
    width: 60%;
    vertical-align: top;
}

p{
    margin: auto;
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer{
    grid-area: footer;
    background-color: lightskyblue;
    padding-top: 15px;
}

#fttext{
    text-align: center;
}

